<div id="account" layout:decorate="~{layout/fullPageLayout}" layout:fragment="content" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Forgot Password Success</title>
    </head>

    <div class="section" th:with="changeFormType='forgot'">
        <div class="col-sm-6 col-sm-offset-3" th:fragment="successMessage">
            <div>
                <h3 class="header card-title text-center" th:utext="#{${changeFormType + '.title'}}">Forgot Password</h3>

                <p th:utext="#{${changeFormType + '.done'}}">We've sent you an email with instructions to reset your password.</p>

                <div class="text-center">
                    <a th:href="@{/}" class="btn btn-sm btn-primary" th:utext="#{${changeFormType + '.returnHome'}}">Return to the
                        homepage</a>
                </div>
            </div>
        </div>
    </div>
</div>