<div id="account" layout:decorate="~{layout/fullPageLayout}" layout:fragment="content" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Reset Password</title>
    </head>
    
    <div id="resetPassword" class="section">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="js-responsive-card js-responsive-card-signup">
                <th:block th:include="~{authentication/forgotPassword::passwordFormHeader}" th:with="changeFormType='reset'"></th:block>
                
                <blc:form id="resetPasswordForm" th:object="${resetPasswordForm}" th:action="@{/login/resetPassword}" method="post">
                    <input type="hidden" th:field="*{token}" />
                    <div class="form-group label-floating">
                        <label class="control-label" for="username" th:utext="#{reset.email}">Email</label>
                        <input id="username" class="form-control" type="email" name="username" />
                        <span class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label" for="password" th:utext="#{reset.password}">Password</label>
                        <input id="password" class="form-control" type="password" name="password" />
                        <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label" for="passwordConfirm" th:utext="#{reset.confirmPassword}">Confirm Password</label>
                        <input id="passwordConfirm" class="form-control" type="password" name="passwordConfirm" />
                        <span class="text-danger" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></span>
                    </div>
                    <div class="text-center">
                        <button  th:attr="form=${'resetPasswordForm'}" class="btn btn-primary btn-lg" type="submit"
                                 th:utext="#{reset.submit}">Update Password</button>
                    </div>
                    <div class="text-center">
                        <a class="account" th:href="@{/login}" th:utext="#{reset.login}">Login</a>
                        |
                        <a class="account" th:href="@{/register}" th:utext="#{reset.register}">Register</a>
                    </div>               
                </blc:form>
            </div>
        </div>
    </div>
</div>