<div id="account" layout:decorate="~{layout/fullPageLayout}" layout:fragment="content"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Reset Password Error</title>
    </head>
    
    <div id="resetPassword" class="section">
        <div class="col-sm-6 col-sm-offset-3">
            <div>
                <h3 class="card-title text-center" th:utext="#{reset.error.title}">Reset Password Error</h3>

                <p class="text-danger" th:switch="${errorCode}" th:if="${errorCode}">
                    <span th:case="'tokenUsed'" th:utext="#{reset.error.tokenUsed}">
                        The password reset URL has already been used. To request another password reset URL, click the Forgot Password link below.
                    </span>
                    <span th:case="'tokenExpired'" th:utext="#{reset.error.tokenExpired}">
                        The password reset URL has expired. To request another password reset URL, click the Forgot Password link below.
                    </span>
                    <span th:case="*" th:utext="#{reset.error.other}">
                        The password reset URL is invalid.
                    </span>
                </p>
                
                <div class="text-center">
                    <a class="account" th:href="@{/login/forgotPassword}" th:utext="#{reset.forgot}">Forgot Password</a>
                    |
                    <a class="account" th:href="@{/login}" th:utext="#{reset.login}">Login</a>
                    |
                    <a class="account" th:href="@{/register}" th:utext="#{reset.register}">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>
