<th:block layout:decorate="~{layout/checkoutPageLayout}" th:with="isCheckoutContext=${true}">
    <head>
        <th:block th:if="${!(cart instanceof T(org.broadleafcommerce.core.order.domain.NullOrderImpl)) and cart.quote != null}">
            <title>Quote Checkout</title>
        </th:block>
        <th:block th:unless="${!(cart instanceof T(org.broadleafcommerce.core.order.domain.NullOrderImpl)) and cart.quote != null}">
            <title>Checkout</title>
        </th:block>
    </head>

    <div th:id="(${!(cart instanceof T(org.broadleafcommerce.core.order.domain.NullOrderImpl)) and cart.quote != null}) ? 'quote-checkout' : 'checkout'" class="js-checkout row" layout:fragment="content" th:fragment="ajax">

        <th:block th:if="${!(cart instanceof T(org.broadleafcommerce.core.order.domain.NullOrderImpl)) and cart.quote != null}">
            <input type="hidden" id="quoteId" th:value="${cart.quote.id}" />
        </th:block>

        <th:block th:if="${#lists.isEmpty(cart.orderItems)}">
            <div class="col-lg-12">
                <div class="cart-warning">
                    <h1 th:utext="#{cart.empty}">Your cart is empty</h1>
                    <a th:href="@{/}" class="btn btn-primary btn-lg" th:utext="#{cart.continueShopping}">Continue Shopping</a>
                </div>
            </div>
        </th:block>

        <th:block th:if="${cartRequiresLock != null}">
            <div class="col-lg-12">
                <div class="cart-warning">
                    <h1 th:utext="#{csr_lockCartBeforeCheckout}"></h1>
                </div>
            </div>
        </th:block>

        <th:block th:unless="${#lists.isEmpty(cart.orderItems) or cartRequiresLock != null}">
            <div class="col-lg-12">
                <th:block th:if="${!(cart instanceof T(org.broadleafcommerce.core.order.domain.NullOrderImpl)) and cart.quote != null}">
                    <h1>Quote Checkout</h1>
                </th:block>
                <th:block th:unless="${!(cart instanceof T(org.broadleafcommerce.core.order.domain.NullOrderImpl)) and cart.quote != null}">
                    <h1 th:utext="#{cart.checkout}">Checkout</h1>
                </th:block>
            </div>

            <div class="col-lg-8">

                <!--TODO-->
                <p th:if="${#paymentMethod.getPaymentProcessingError()}" class="payment-error">
                    <span th:utext="#{${#paymentMethod.getPaymentProcessingError()}}" class="error">...</span>
                </p>

                <th:block th:replace="checkout/partials/checkoutStages" />
            </div>

            <div class="col-lg-4" th:unless="${#lists.isEmpty(cart.orderItems)}">
                <th:block th:replace="cart/partials/cartPricingSummary" />

                <th:block th:replace="cart/partials/cartItemSummary" />

                <th:block th:replace="checkout/partials/promoCodes" />

                <th:block th:if="${#module.isPresent('Gift Cards and Customer Credit (AccountCredit)')}">
                    <th:block th:replace="checkout/partials/accountCreditForm" />
                </th:block>
            </div>
        </th:block>

        <div id="blc-extra-data" class="is-hidden" th:utext="${blcextradata}" th:if="${!#strings.isEmpty(blcextradata)}"></div>
    </div>
</th:block>
