<div id="account" layout:decorate="~{layout/fullPageLayout}" layout:fragment="content">
<head>
        <title>Register</title>
    </head>

    <div id="register" class="register">
        <h3><span>Thank you for registering!</span></h3>
        <p><span >A notice has been sent to your organization's administrator for approval.
            Once approved, you will be able to login to the site and begin shopping.</span>.</p>

        <div class="login_register">
            <a class="account" th:href="@{/}"><span>Return Home</span></a>
        </div>
    </div>
</div>