/**********************/
/*** QUOTE PAGES ****/
/**********************/

.quote-list {
    padding: 15px;
}

.quote-info-row, .quote-info-header-row {
    list-style: none;
    display: flex;
}

.quote-info-row > span, .quote-info-header-row > span {
    display: inline-block;
    padding: 8px 6px;
    vertical-align: middle;
}

.quote-info-header-row > span {
    font-size: 1.25em;
    font-weight: 300;
}

.quote-history {
    padding-left: 0;
}

@media (max-width: 768px) {
    .quote-history {
        overflow-x: scroll;
    }
}

.quote-history > div:nth-of-type(2n) {
    background-color: #fafafa;
}

.quote-history > div:nth-of-type(2n+1) {
    background-color: #f5f5f5;
}

.quote-name {
    flex: 2;
}

.quote-total {
    text-align: right;
    flex: 1;
}

.quote-status {
    text-align: right;
    flex: 1;
}

.quote-expiration {
    text-align: right;
    flex: 1;
}

.quote-view h1 {
    font-size: 2.6em;
    margin-bottom: 0.5em;
}

.cart-summary-title .quote-panel {
    margin:0px;
}

.cart-summary-title .quote-panel-heading {
    padding: 0;
    border-bottom: none;
}

.cart-summary-title .quote-panel-heading h4 {
    width: 100%;
}

.cart-summary-title .quote-panel-body {
    padding: 5px 20px 20px 20px;
}

.add-custom-quote-item-header {
    font-weight: bold;
}

.custom-quote-item-add {
    margin-top: 27px;
}

.back-to-quotes {
    margin: 0;
    padding: 10px 20px;
    display: inline-block;
}

.quote-notes {
    padding: 15px;
}

.quote-update-name {
    font-weight: bold;
}
.quote-update-quantity {
    max-width: 55px;
}

/**
 * Mini Quote
 */

.mini-quote-wrapper {
    width: 350px;
    font-size: small;
    line-height: 16px;
}
.mini-quote-wrapper li {
    padding: 1em 1em 0;
    vertical-align: top;
    display: block;
}

.mini-quote-wrapper li div {
    border-bottom: 1px solid;
}

.mini-quote-wrapper .mini-quote-action {
    display: block;
}

a.goto-manage-quotes {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1em !important;
}

.checkout-card .media {
    padding-left: 1.5em;
}
.checkout-card .quote-no-notes {
    padding: 2em;
}