<div class="order-details-container" th:object="${order}">

    <blc:form class="blEditAccountMemberForm" action="#"
              th:action="@{'/account/'+ ${accountMember.account.id} + '/accountMembers/'}"
              th:object="${blEditAccountMemberForm}" method="POST">
        <input type="hidden" th:name="accountMemberId" th:value="${accountMember.id}" />

        <div class="form100">
            <label for="firstName">First Name:</label>
            <span class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
            <input type="text" name="firstName" id="firstName" th:field="*{firstName}" class="field50" th:classappend="${#fields.hasErrors('firstName')}? 'fieldError'"/>
        </div>
        <div class="form100">
            <label for="lastName">Last Name:</label>
            <span class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
            <input type="text" name="lastName" id="lastName" th:field="*{lastName}" class="field50" th:classappend="${#fields.hasErrors('lastName')}? 'fieldError'"/>
        </div>
        <div class="form100">
            <label for="emailAddress">Email Address:</label>
            <span class="error" th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}"></span>
            <input type="email" name="emailAddress" id="emailAddress" th:field="*{emailAddress}" class="field50" th:classappend="${#fields.hasErrors('emailAddress')}? 'fieldError'"/>
        </div>
        <div class="form">
            <label for="role">Role:</label>
            <span class="error" th:if="${#fields.hasErrors('selectedRoleNames')}" th:errors="*{role}"></span>
            <th:block th:each="role,iterStat : ${roleTypes}" th:object="${role.value}">
                <input type="checkbox" name="selectedRoleNames" th:value="*{type}" th:text="*{friendlyType}"
                       th:checked="${#lists.contains(blEditAccountMemberForm.selectedRoleNames, '__*{type}__' )}" />
            </th:block>
        </div>
        <input type="submit" class="medium red" value="Submit" />

    </blc:form>
</div>