<blc:form class="js-productAddOns">
    <input type="hidden" th:name="${'additionalAttributes[bundle_setup_complete]'}" value="true" />
    <div class="js-itemWrapper addon-item-wrapper" th:each="item, iterStat : ${configRequest.childOrderItems}" th:object="${item}" th:attr="data-item-index=${item.orderItemIndex}">

        <span class="js-itemErrorSpan error" style="display: none;"></span>
        <span class="js-itemPoErrorSpan error" style="display: none;"><span th:utext="#{product.allOptionsRequired}">All options are required</span></span>

        <!-- Display label -->
        <div class="display-label row" th:if="*{not #strings.isEmpty(additionalAttributes.get('addOnLabel'))}">
            <div class="col-sm-12">
                <label th:for="${'childOrderItems[' + item.orderItemIndex + '].productId'}" >
                    <span th:utext="*{additionalAttributes.get('addOnLabel')}"></span>
                </label>
            </div>
        </div>

        <!-- Display specific products or 'Choose Ones' -->
        <th:block th:unless="*{isMultiSelect}">
            <div class="js-configureRow js-productContainer row configure-row">
                <div class="col-sm-7">
                    <!-- Sku Specified -->
                    <div th:if="*{sku}" class="row">
                        <!-- Sku Image-->
                        <div class="col-sm-3">
                            <img class="js-mainItemImage img-responsive img-raised" th:if="*{sku.skuMedia['primary']}"
                                 blc:src="@{*{sku.skuMedia['primary'].url} + '?browse'}" alt="Sauce Image" />
                        </div>

                        <!-- Sku Name-->
                        <div class="col-sm-9 configure-title">
                            <div th:utext="*{sku.name}"></div>
                            <input type="hidden" th:name="${'childOrderItems[' + item.orderItemIndex + '].productId'}" th:value="*{product.id}" />
                            <input type="hidden" th:name="${'childOrderItems[' + item.orderItemIndex + '].skuId'}" th:value="*{sku.id}" />


                            <th:block th:each="xref : *{sku.productOptionValueXrefs}" th:object="${xref}">
                                <input type="hidden"
                                       th:name="${'childOrderItems[' + item.orderItemIndex + '].itemAttributes[' + xref.productOptionValue.productOption.attributeName + ']'}"
                                       th:value="${xref.productOptionValue.attributeValue}" />
                            </th:block>
                        </div>
                    </div>

                    <!-- Product Specified -->
                    <div th:if="*{sku == null and product != null}" class="row">
                        <!-- Product Image-->
                        <div class="col-sm-3">
                            <img class="js-mainItemImage img-responsive img-raised" th:if="*{product.media['primary']}"
                                 blc:src="@{*{product.media['primary'].url} + '?browse'}" alt="Sauce Image" />

                            <!-- Alt images -->
                            <div th:object="${item.product}" th:include="configure/partials/altImages"></div>
                        </div>

                        <!-- Product Name-->
                        <div class="col-sm-9 configure-title">
                            <div th:utext="*{product.name}"></div>

                            <!-- Product Options if any -->
                            <th:block th:if="*{!#lists.isEmpty(product.productOptions)}" th:object="${item.product}">
                                <th:block th:with="itemIndex=${item.orderItemIndex}, addOnXrefId=${item.additionalAttributes.get('addOnXrefId')}, product=${item.product}"
                                          th:include="configure/partials/configureProductOptionsContainer" />
                            </th:block>
                        </div>

                        <input type="hidden" th:name="${'childOrderItems[' + item.orderItemIndex + '].productId'}" th:value="*{product.id}" />
                    </div>

                    <!-- Choose One Dropdown -->
                    <div th:unless="*{product}" class="row">
                        <!-- Product Image-->
                        <div class="col-sm-3">
                            <img class="js-mainItemImage img-responsive img-raised" src="https://placehold.jp/28/bbafae/ffffff/60x60.png?text=%3F" alt="Choose a Product" />
                        </div>
                        <!-- Product Name-->
                        <div class="col-sm-9 configure-title">
                            <th:block th:if="*{productChoices}">
                                <select class="selectpicker js-configure-product-choices" th:name="${'childOrderItems[' + item.orderItemIndex + '].productId'}">
                                    <th:block th:if="*{additionalAttributes.get('chooseOneDefaultProductId')}">
                                        <option th:each="option : *{productChoices}"
                                                th:value="${option.product.id}"
                                                th:text="#{${option.product.name}}"
                                                th:attr="data-displayPrice=${option.displayPrice}"
                                                th:selected="${#strings.equals(item.additionalAttributes.get('chooseOneDefaultProductId'), option.product.id)}"></option>
                                    </th:block>
                                    <th:block th:unless="*{additionalAttributes.get('chooseOneDefaultProductId')}">
                                        <option disabled="disabled" selected="selected" value=""></option>
                                        <option th:each="option : *{productChoices}"
                                                th:value="${option.product.id}"
                                                th:text="#{${option.product.name}}"
                                                th:attr="data-displayPrice=${option.displayPrice}"></option>
                                    </th:block>
                                </select>
                            </th:block>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div th:include="catalog/partials/productAddOnPricing" th:with="itemIndex=${item.orderItemIndex}"></div>
                </div>

                <!-- Any existing item attributes for this product-->
                <div class="item-attributes">
                    <input th:each="entry : *{itemAttributes}" type="hidden" th:name="${entry.key}" th:value="${entry.value}" />
                </div>

                <!-- Any additional attributes for this product-->
                <th:block th:each="entry : *{additionalAttributes}">
                    <input type="hidden" th:name="${'childOrderItems[' + item.orderItemIndex + '].additionalAttributes[' + entry.key + ']'}" th:value="${entry.value}" />
                </th:block>
            </div>
        </th:block>

        <!-- Display 'Choose Multiples' -->
        <th:block th:if="*{isMultiSelect}">
            <div class="js-configureRow row configure-row" th:each="option, choiceStat : *{productChoices}">
                <div class="col-sm-7">
                    <!-- Product Specified -->
                    <div class="row">
                        <!-- Product Image-->
                        <div class="col-sm-3">
                            <img class="js-mainItemImage img-responsive img-raised" th:if="${option.product.media['primary']}" blc:src="@{${option.product.media['primary'].url} + '?browse'}" alt="Sauce Image" />

                            <!-- Alt images -->
                            <div th:object="${option.product}" th:include="configure/partials/altImages"></div>
                        </div>

                        <!-- Product Name-->
                        <div class="col-sm-9 configure-title">
                            <div th:utext="${option.product.name}"></div>

                            <!-- Product Options if any -->
                            <th:block th:if="${!#lists.isEmpty(option.product.productOptions)}" th:object="${option.product}">
                                <th:block th:with="itemIndex=${(item.orderItemIndex + choiceStat.index)}, addOnXrefId=${option.additionalAttributes.get('addOnXrefId')}, product=${option.product}"
                                     th:include="configure/partials/configureProductOptionsContainer" />
                            </th:block>
                        </div>
                        <input type="hidden" th:name="${'childOrderItems[' + (item.orderItemIndex + choiceStat.index) + '].productId'}" th:value="${option.product.id}" />
                    </div>
                </div>
                <div class="col-sm-5">
                    <div th:include="catalog/partials/productAddOnPricing" th:object="${option}" th:with="itemIndex=${(item.orderItemIndex + choiceStat.index)}"></div>
                </div>

                <!-- Any existing item attributes for this product-->
                <div class="item-attributes">
                    <input th:each="entry : ${option.itemAttributes}" type="hidden" th:name="${entry.key}" th:value="${entry.value}" />
                </div>

                <!-- Any additional attributes for this product-->
                <th:block th:each="entry : ${option.additionalAttributes}">
                    <input type="hidden" th:name="${'childOrderItems[' + (item.orderItemIndex + choiceStat.index) + '].additionalAttributes[' + entry.key + ']'}" th:value="${entry.value}" />
                </th:block>
            </div>
        </th:block>
    </div>
</blc:form>